<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Defect-Tracker</display-name>
  <welcome-file-list>
    <welcome-file>RedirectController</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.dt.login.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserListController</display-name>
    <servlet-name>UserListController</servlet-name>
    <servlet-class>com.dt.userList.UserListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserListController</servlet-name>
    <url-pattern>/UserListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageUserController</display-name>
    <servlet-name>ManageUserController</servlet-name>
    <servlet-class>com.dt.manageUser.ManageUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageUserController</servlet-name>
    <url-pattern>/ManageUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserController</display-name>
    <servlet-name>UpdateUserController</servlet-name>
    <servlet-class>com.dt.manageUser.UpdateUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserController</servlet-name>
    <url-pattern>/UpdateUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserController</display-name>
    <servlet-name>DeleteUserController</servlet-name>
    <servlet-class>com.dt.manageUser.DeleteUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserController</servlet-name>
    <url-pattern>/DeleteUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectController</display-name>
    <servlet-name>RedirectController</servlet-name>
    <servlet-class>com.dt.utility.RedirectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectController</servlet-name>
    <url-pattern>/RedirectController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDefectController</display-name>
    <servlet-name>AddDefectController</servlet-name>
    <servlet-class>com.dt.addDefect.AddDefectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDefectController</servlet-name>
    <url-pattern>/AddDefectController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.dt.login.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserController</display-name>
    <servlet-name>AddUserController</servlet-name>
    <servlet-class>com.dt.addUser.AddUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserController</servlet-name>
    <url-pattern>/AddUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userProfileController</display-name>
    <servlet-name>userProfileController</servlet-name>
    <servlet-class>com.dt.manageUser.userProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userProfileController</servlet-name>
    <url-pattern>/userProfileController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashboardController</display-name>
    <servlet-name>DashboardController</servlet-name>
    <servlet-class>com.dt.utility.DashboardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardController</servlet-name>
    <url-pattern>/DashboardController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserProfileController</display-name>
    <servlet-name>UserProfileController</servlet-name>
    <servlet-class>com.dt.manageUser.UserProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfileController</servlet-name>
    <url-pattern>/UserProfileController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DefectListController</display-name>
    <servlet-name>DefectListController</servlet-name>
    <servlet-class>com.dt.defectList.DefectListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DefectListController</servlet-name>
    <url-pattern>/DefectListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePasswordController</display-name>
    <servlet-name>UpdatePasswordController</servlet-name>
    <servlet-class>com.dt.manageUser.UpdatePasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePasswordController</servlet-name>
    <url-pattern>/UpdatePasswordController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDefectController</display-name>
    <servlet-name>UpdateDefectController</servlet-name>
    <servlet-class>com.dt.updateDefect.UpdateDefectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDefectController</servlet-name>
    <url-pattern>/UpdateDefectController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>assignDefectController</display-name>
    <servlet-name>assignDefectController</servlet-name>
    <servlet-class>com.dt.assignDefect.assignDefectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>assignDefectController</servlet-name>
    <url-pattern>/assignDefectController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>assignLeadsController</display-name>
    <servlet-name>assignLeadsController</servlet-name>
    <servlet-class>com.dt.assignLead.assignLeadsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>assignLeadsController</servlet-name>
    <url-pattern>/assignLeadsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateDefectStatusController</display-name>
    <servlet-name>updateDefectStatusController</servlet-name>
    <servlet-class>com.dt.defectsList.updateDefectStatusController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateDefectStatusController</servlet-name>
    <url-pattern>/updateDefectStatusController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modifyStatusController</display-name>
    <servlet-name>modifyStatusController</servlet-name>
    <servlet-class>com.dt.modifyDefectStatus.modifyStatusController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyStatusController</servlet-name>
    <url-pattern>/modifyStatusController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>statusUpdateController</display-name>
    <servlet-name>statusUpdateController</servlet-name>
    <servlet-class>com.dt.statusUpdate.statusUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>statusUpdateController</servlet-name>
    <url-pattern>/statusUpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDefectControllerToDashboard</display-name>
    <servlet-name>UpdateDefectControllerToDashboard</servlet-name>
    <servlet-class>com.dt.updateDefect.UpdateDefectControllerToDashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDefectControllerToDashboard</servlet-name>
    <url-pattern>/UpdateDefectControllerToDashboard</url-pattern>
  </servlet-mapping>
</web-app>