<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Defect-Tracker</display-name>
  <welcome-file-list>
    <welcome-file>RedirectController</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/errorPage.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/errorPage.jsp</location>
  </error-page>
  <error-page>
    <exception-type>Exception</exception-type>
    <location>/errorPage.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.dt.login.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserListController</display-name>
    <servlet-name>UserListController</servlet-name>
    <servlet-class>com.dt.userList.UserListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserListController</servlet-name>
    <url-pattern>/UserListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageUserController</display-name>
    <servlet-name>ManageUserController</servlet-name>
    <servlet-class>com.dt.manageUser.ManageUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageUserController</servlet-name>
    <url-pattern>/ManageUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserController</display-name>
    <servlet-name>UpdateUserController</servlet-name>
    <servlet-class>com.dt.manageUser.UpdateUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserController</servlet-name>
    <url-pattern>/UpdateUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserController</display-name>
    <servlet-name>DeleteUserController</servlet-name>
    <servlet-class>com.dt.manageUser.DeleteUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserController</servlet-name>
    <url-pattern>/DeleteUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectController</display-name>
    <servlet-name>RedirectController</servlet-name>
    <servlet-class>com.dt.utility.RedirectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectController</servlet-name>
    <url-pattern>/RedirectController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDefectController</display-name>
    <servlet-name>AddDefectController</servlet-name>
    <servlet-class>com.dt.addDefect.AddDefectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDefectController</servlet-name>
    <url-pattern>/AddDefectController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.dt.login.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
</web-app>